/* 1. Reset the browser's default "white" canvas */
.app-layout{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  overflow: hidden;   
}
